@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;800&display=swap');

:root {
    --azul: cornflowerblue;
    --laranja: #ff9a39;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body {
    background-color: gray;
}

.header-topo {
    background-color: var(--azul);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5rem;
}

.header-topo .header-topo__titulo {
    color: var(--laranja);
    text-shadow: -3px 2px #fffbfbc9
}

.header-topo__form {
    display: flex;
    align-items: flex-end;
    gap: 15px;
}

.header-topo__form .form__container {
    display: flex;
    flex-direction: column;
}

.header-topo__form .form__container .form__input {
    background: #ffffff7a;
    border: none;
    border-radius: 5px;
    padding: 3px 5px;
}

.header-topo__form .form__container:nth-child(2) {
    width: 30px;
    text-align: center;
}

.header-topo__form .form__container:nth-child(2) .form__input {
    text-align: center;
}

.header-topo__form .form__btn {
    background: #ff9a39;
    border: none;
    border-radius: 10px;
    padding: 4px 10px;
    cursor: pointer;
}

.header-topo__icon {
    height: 3rem;
}

main {
    height: calc(100vh - 5rem);
    width: 70%;
    margin: 0 auto;
    padding: 30px 0;
}

main .tela-inicial {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} 

main .tela-inicial .tela-inicial__aviso {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: var(--laranja);
}

main .container:not(.informacoes-dia) {
    margin-bottom: 50px;
}

main .card-previsao {
    width: 70%;
    margin: 0 auto;
}

main .card-previsao .card-previsao__cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main .card-previsao .card-previsao__tempo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

main .card-previsao__tempo .tempo__temperatura {
    font-size: 8rem;
}

main .card-previsao__tempo .tempo__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .tempo__container .container__icon {
    width: 3.5rem;
}

main .card-previsao-diaria {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

main .card-previsao-diaria__cabecalho {
    text-align: center;
}

main .card-previsao-diaria__dias {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}

main .card-previsao-diaria__dias .dias__dia {
    text-align: center;
}

main .dias__dia .dia__data {
    font-size: 1rem;
}

main .dias__dia .dia__icon {
    height: 2.5rem;
}

main .informacoes-dia {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

main .informacoes-dia__dados .dados__temperatura {
    font-size: 3rem;
}

main .informacoes-dia__dados .dados__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

main .dados__container .container-dado {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}

main .dados__container .container-dado {
    border: 1px solid;
}

main .dados__container .container-dado:nth-child(odd) {
    border-left: none;
}

main .dados__container .container-dado:nth-child(even) {
    border-right: none;
}

main .dados__container .container-dado:nth-child(3), 
main .dados__container .container-dado:nth-child(4) {
    border-top: none;
    border-bottom: none;
}

main .dados__container .container-dado:nth-child(5), 
main .dados__container .container-dado:nth-child(6) {
    border-bottom: none;
}

main .dados__container .container-dado div {
    display: flex;
    align-items: center;
    gap: 20px;
}

main .container-dado div .container-dado__icon {
    height: 2.2rem;
}

@media screen and (max-width: 1279px) and (min-width: 769px) {
    main {
        width: 80%;
    }
}

@media screen and (max-width: 768px){
    main {
        width: 100%;
    }

    .header-topo__icon {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .header-topo {
        flex-direction: column;
        height: 8rem;
    }

    .header-topo__form {
        width: 100%;
        justify-content: center;
    }

    .header-topo__form .form__container:nth-child(1) {
        width: 40%;
    }

    main {
        height: auto;
    }

    main .tela-inicial {
        padding: 0 20px;
    }

    main .tela-inicial .tela-inicial__aviso {
        font-size: 2rem;
    }

    main .card-previsao__tempo .tempo__temperatura {
        font-size: 5rem;
    }

    main .tempo__container .container__icon {
        width: 2.7rem;
    }

    main .card-previsao-diaria__dias {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
        'um dois'
        'tres quatro'
        'cinco cinco';
    }

    .dias__dia:nth-child(1){ grid-area: um;}
    .dias__dia:nth-child(2){ grid-area: dois;}
    .dias__dia:nth-child(3){ grid-area: tres;}
    .dias__dia:nth-child(4){ grid-area: quatro;}
    .dias__dia:nth-child(5){ grid-area: cinco;}

    main .informacoes-dia__dados .dados__container {
        display: flex;
        flex-direction: column;
    }

    main .dados__container .container-dado {
        border: none;
    }
}